[tool.ruff]
line-length = 100
target-version = "py310"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false

[tool.ruff.lint]
select = [
  "E",  # pycodestyle errors
  "F",  # pyflakes
  "I",  # isort (imports)
]
ignore = []

[tool.ruff.lint.isort]
combine-as-imports = true
known-first-party = [
  "red_bringup",
]
